{% extends 'base.html' %}

{% block content %}

<div class="text-center mt-5">

    <h2 class="mb-4">Welcome to Cab Booking 🚖</h2>

    <div class="d-flex justify-content-center gap-4">

        <a href="/fixed-ride" class="btn btn-warning text-dark fw-bold btn-lg px-4 shadow">
            <i class="bi bi-geo-alt-fill"></i> Fixed Ride
        </a>

        <a href="/spot-ride" class="btn btn-dark text-white fw-bold btn-lg px-4 shadow">
            <i class="bi bi-lightning-fill"></i> Spot Ride
        </a>

    </div>

</div>

{% endblock %}