{% extends 'base.html' %}

{% block content %}

<div class="row g-4">

    <div class="col-md-7">
        <div id="map" class="map-box"></div>
    </div>

    <div class="col-md-5">

        <div class="card p-3 shadow">
            <h5>{{ car|capitalize }} Ride</h5>
            <p>₹{{ price }}</p>
            <p><b>Pickup:</b> {{ ride.pickup }}</p>
            <p><b>Destination:</b> {{ ride.destination }}</p>
        </div>

        <div class="card p-3 mt-3 shadow">
            <h6>Driver Details</h6>
            <p>Name: {{ driver.name }}</p>
            <p>Age: {{ driver.age }}</p>
            <p>Phone: {{ driver.phone }}</p>
            <p>Experience: {{ driver.experience }}</p>
            <p>ID: {{ driver.id }}</p>
            <p>Trips: {{ driver.trips }}</p>
            <p>License: {{ driver.license }}</p>
            <p>Vehicle: {{ driver.vehicle }}</p>
            <p>Type: {{ driver.type }}</p>
        </div>

        <div class="text-center mt-3">
            <a href="/dashboard" class="btn btn-secondary px-4">⬅ Back</a>
            <a href="/cancel-page" class="btn btn-danger px-4 ms-2">Cancel</a>
            <a href="/complete" class="btn btn-success px-4 ms-2">Complete</a>
        </div>

    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        let pickupText = "{{ ride.pickup }}";
        let destinationText = "{{ ride.destination }}";

        async function getCoords(place) {
            let res = await fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${place}`);
            let data = await res.json();
            return data.length ? [parseFloat(data[0].lat), parseFloat(data[0].lon)] : null;
        }

        async function initMap() {
            let pickup = await getCoords(pickupText);
            let destination = await getCoords(destinationText);

            if (!pickup) pickup = [18.5204, 73.8567];
            if (!destination) destination = [18.6400, 73.7500];

            var map = L.map('map').setView(pickup, 10);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

            L.marker(pickup).addTo(map).bindPopup("Pickup").openPopup();
            L.marker(destination).addTo(map).bindPopup("Destination");

            L.polyline([pickup, destination], { color: 'blue' }).addTo(map);

            map.fitBounds([pickup, destination]);

            setTimeout(() => map.invalidateSize(), 300);
        }

        initMap();
    });
</script>

{% endblock %}